# Object file
*.o
*.cuo

C/sfml/02_Adaptation/bin
C/sfml/02_Adaptation/obj

C/sfml/03_Amelioration/bin
C/sfml/03_Amelioration/obj

C/sfml/04_CUDA/bin
C/sfml/04_CUDA/obj

C/sfml/BMP/bin
C/sfml/BMP/obj

Test


