# Object file
*.o
*.cuo

Software/sfml/02_Adaptation/bin
Software/sfml/02_Adaptation/obj

Software/sfml/03_Amelioration/bin
Software/sfml/03_Amelioration/obj

Software/sfml/04_CUDA/bin
Software/sfml/04_CUDA/obj

Software/sfml/05_Fusion/bin
Software/sfml/05_Fusion/obj

Software/sfml/BMP/bin
Software/sfml/BMP/obj

Test


